/*!
	  ______   __  __     ______     ______
	 /\  == \ /\ \/\ \   /\  == \   /\  == \
	 \ \  _-/ \ \ \_\ \  \ \  __<   \ \  __<
	  \ \_\    \ \_____\  \ \_\ \_\  \ \_\ \_\
	   \/_/     \/_____/   \/_/ /_/   \/_/ /_/
 
*/
:root {
	--purr-white: #EEEEEE;
	--purr-gray: #4A4A4A;
	
	--purr-turquoise: #50E3C2;
	--purr-blue: #039BE5;
	--purr-red: #FC4058;
	--purr-lilac: #6653FF;
	
	--purr-turquoise-dark: #3BCFAE;
	--purr-blue-dark: #1A5775;
	--purr-red-dark: #962635;

	--purr-paper: #F4F4F0;
}
/*
 * General Stuff
 * */
::selection {
	background-color: var( --purr-turquoise );
	color: #eeeeee;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
	margin: 0; padding:0;
	height: 100vh;
	width: 100vw;
	background-color: var( --purr-gray );

	font-family: "MairyLight";
	font-style: italic;
   	font-weight: 300;
   	letter-spacing: 0.01em;
   	line-height: 1.6;
 	font-size: 18px;
	
	overflow-x: hidden;
	overflow-y: auto;
	
	scroll-snap-type: mandatory;
	scroll-snap-destination: 100% 0%;
	scroll-behavior: smooth;
}
section#home, about, manifest, contact, imprint{
	scroll-snap-coordinate: 50% 50%;
}


h1{
	font-family: 'MairyExtBd';
	font-style: italic;
	
	font-size: 4rem;
	line-height: 4.2rem;
}
a, a:active, a:hover, a:visited{
	color: var(--purr-turquoise-dark);
	font-weight: bold;
}
a:hover, a:active{
	text-decoration: underline;
	text-decoration-skip: ink;
}
.label:after{
	content: attr(data-label);
	display: inline-block;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;

	text-transform: uppercase;

	font-size: 1.5rem;
	line-height: 1.5rem;

	padding: 4px 4px 0px 4px;
	border-radius: 4px;

	position: relative;
	top: -1.2rem;
	left: 2px;
}

header{
	position: fixed;
	left: 20px; top: 20px;
	z-index: 11;
	width: 120px;
	user-select: none;
}
header purr-logo{
	width: 300px;
}
header purr-logo svg g{
	stroke: var( --purr-gray );
	fill: rgba(254,254,254, 0);
	transition: stroke 1s, stroke-width 1s, fill 1s;
}

.section--home header purr-logo svg g{
	stroke: var( --purr-gray );
}
.section--about header purr-logo svg g{
	stroke: var( --purr-white );
	fill: var( --purr-white );
	stroke-width:0;
}
.section--manifest header purr-logo svg g{
	stroke: #6653FF;
	stroke: var( --purr-blue )
}
.section--contact header purr-logo svg g{
	stroke: var( --purr-gray );
	fill: var( --purr-gray );
	stroke-width:0;
}
.section--imprint header purr-logo svg g{
	stroke: var( --purr-white );
	fill: var( --purr-white );
	stroke-width:0;
}
/*
 * media queries ...
 * */
/* Larger than mobile screen */
@media (min-width: 40.0rem) {
	header{
		position: fixed;
		left: 20px; top: 20px;
		z-index: 11;
		width: 120px;
	}
}
/* Larger than tablet screen */
@media (min-width: 80.0rem) {
	
}
/* Larger than desktop screen */
@media (min-width: 120.0rem) {
	
}