/*!
	  ______   __  __     ______     ______
	 /\  == \ /\ \/\ \   /\  == \   /\  == \
	 \ \  _-/ \ \ \_\ \  \ \  __<   \ \  __<
	  \ \_\    \ \_____\  \ \_\ \_\  \ \_\ \_\
	   \/_/     \/_____/   \/_/ /_/   \/_/ /_/

*/
:root {
	--purr-white: #EEEEEE;
	--purr-gray: #4A4A4A;

	--purr-orange: #FE8700;
	--purr-brown: #734A13;
	
	--purr-turquoise: #50E3C2;
	--purr-blue: #039BE5;
	--purr-red: #FC4058;
	--purr-lilac: #6653FF;
	
	--purr-turquoise-dark: color( var(--purr-turquoise) blackness(33%) ); /* or #3BCFAE; */
	--purr-blue-dark: #1A5775;
	--purr-red-dark: #962635;
	--purr-lilac-dark: #33297F;

	--purr-paper: #FDF3E2;
}
/*
 * General Stuff
 **/
::selection {
	background-color: var( --purr-turquoise );
	color: #eeeeee;
}

html {
  	box-sizing: border-box;
  	font-size: 18px;
}

body{
	margin: 0; padding:0;
	height: 100vh;
	width: 100vw;
	background-color: var( --purr-gray );

	font-family: "MairyLight";
	font-style: italic;
   	font-weight: 300;
   	letter-spacing: 0.01em;
	/* minFont + ( maxFont - minFont ) * ( 100vw - minScreen ) / ( maxScreen - minScreen ) */
	font-size: calc( 22px + (36 - 22) * (100vw - 320px) / (1000 - 320) ); 
	line-height: 1.3em;

	overflow-x: hidden;
	overflow-y: auto;
	/*
	scroll-snap-type: mandatory;
	scroll-snap-destination: 100% 0%;
	scroll-behavior: smooth;
	*/
}

h1{
	font-family: 'MairyExtBd';
	font-style: italic;

	margin-top: 0.5em;
	margin-bottom: 0.5em;
	line-height: 1.0em;
}
h1 small{
	font-size: 0.7em;
}
h2{
	font-family: 'MairyExtBd';
	font-style: italic;

	margin-top: 0.0em;
	margin-bottom: 0.2em;
	line-height: 1.0em;
}
p{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

a, a:active, a:hover, a:visited{
	color: var(--purr-turquoise-dark);
	font-weight: bold;
}
a:hover, a:active{
	text-decoration: underline;
	text-decoration-skip: ink;
}
.label:after{
	content: attr(data-label);
	/*display: inline-block;*/
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;

	text-transform: uppercase;

	font-size: 0.3em;
	line-height: 0.4em;

	padding: 8px 8px 0px 4px;
	border-radius: 4px;

	position: relative;
	top: -1.2rem;
	left: 2px;
}

header{
	position: fixed;
	left: 10px; top: 20px;
	backface-visibility:hidden;
	z-index: 11;
	width: 120px;
	height: 60px;
	user-select: none;
}
header purr-logo svg g{
	stroke: var( --purr-gray );
	fill: rgba(254,254,254, 0);
	transition: stroke 1s, stroke-width 1s, fill 1s;
}

.section--home header purr-logo svg g{
	stroke: var( --purr-brown );
	fill: var( --purr-orange );
	stroke-width:4;
}
.section--about header purr-logo svg g{
	stroke: var( --purr-white );
	fill: var( --purr-white );
	stroke-width:0;
}
.section--manifest header purr-logo svg g{
	stroke: var( --purr-blue )
}
.section--team header purr-logo svg g{
	stroke: var( --purr-lilac );
	fill: var( --purr-paper );
}
.section--contact header purr-logo svg g{
	stroke: var( --purr-gray );
	fill: var( --purr-gray );
	stroke-width:0;
}
.section--imprint header purr-logo svg g{
	stroke: var( --purr-white );
	fill: var( --purr-white );
	stroke-width:0;
}

/*
 * media queries ...
 **/
/* Larger than mobile screen */
@media (min-width: 40.0rem) {
	header{
		width: 130px;
		height: 100px;
		left: 20px;
		top: 20px;
	}
	
}
/* Larger than tablet screen */
@media (min-width: 80.0rem) {
	
}
/* Larger than desktop screen */
@media (min-width: 120.0rem) {
	
}