/*
 * Navigation
 **/
footer{
	/*width: 100vw;*/
	position: fixed;
	bottom: 10px;
	left: 20px; /*right: 20px;*/

	text-align: right;
	font-family: MairyLight;
	font-size: 0.66em;
	color: #eee;
	margin-left: 20px;
	margin-right: 20px;

	z-index: 89;
}
footer i{
	color: var( --purr-white );
}
footer .next{
	display: block;
	width: calc(100vw - 80px);
	height: 20px;

	text-align: center;
}
footer .next svg{
	width: 30%;
}
footer .next svg path{
	stroke: #eee;
	transition: stroke 1s, stroke-width 1s, fill 1s;
}

body.section--home footer .next svg path{
	stroke: var(--purr-brown);
}
body.section--home footer i{
	color: var( --purr-brown );
}

body.section--about footer .next svg path{
	stroke: var(--purr-gray);
}
body.section--about footer i{
	color: var( --purr-gray );
}

body.section--manifest footer .next svg path{
	stroke: var(--purr-blue);
}
body.section--contact footer .next svg path{
	stroke: var( --purr-white );
}
body.section--contact footer i{
	color: var( --purr-white );
}

body.section--manifest footer i{
	color: var( --purr-blue );
}
body.section--team footer .next svg path{
	stroke: var( --purr-lilac );
}
body.section--team.rotated footer .next svg path{
	stroke: var( --purr-paper );
}
body.section--team footer i{
	color: var( --purr-lilac );
}
body.section--team.rotated footer i{
	color: var( --purr-paper );
}



/* Larger than mobile screen */
@media (min-width: 40.0rem) {
	footer .next svg{
		width: 50%;
	}
}
/* Larger than tablet screen */
@media (min-width: 80.0rem) {
	
}
/* Larger than desktop screen */
@media (min-width: 120.0rem) {
	
}

