/*
 * Sections
 * */
section#home{
	display: block;
	width: 100vw; height: 100vh;
}
video#background{
	width: 100vw; height: 100vh;
	position: absolute;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;
	display: none;
	z-index: -999;
	object-fit: none;
}
div#fallback{
	width: 100vw; height: 100vh;
	position: absolute;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;

	background-image: url('../img/rgba.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	z-index: 19;
}
div#mask{
	width: 100vw; height: 100vh;
	position: absolute;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;

	background-image: url('../img/PURR-cutout.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 20;
}

html.videoautoplay video#background{
	display: block;
}
html.videoautoplay div#fallback{
	display: none;
}


section#about{
	background-color: var( --purr-red );
	width: 100vw;
	height: 100vh;

 	display: flex;
 	align-items: center;
 	justify-content: center;

	color: var( --purr-white );
}
section#about p,
section#about h1{
	width: 66%;
	justify-content: center;
}
section#about a,
section#about a:link,
section#about a:visited{
	color: var(--purr-red-dark);
	text-decoration: none;
}
section#about a:hover,
section#about a:active{
	text-decoration: underline;
	text-decoration-skip: ink;
}
.label.about:after{
  	color: var( --purr-white );
	background-color: var( --purr-red-dark );;
}


section#contact{
	background-color: var( --purr-turquoise );
	width: 100vw;
	height: 100vh;

 	display: flex;
 	align-items: center;
 	justify-content: center;
	flex-direction: column;
	
	color: var( --purr-gray );
}
section#contact p,
section#contact h1{
	width: 66%;
	justify-content: center;
}
section#contact h1{
	font-size: 4rem;
}
section#contact a,
section#contact a:link,
section#contact a:visited{
	color: var(--purr-turquoise-dark);
	text-decoration: none;
}
section#contact a:hover,
section#contact a:active{
	text-decoration: underline;
	text-decoration-skip: ink;
}




section p,
section div div{
	font-family: 'MairyExtBd';
	font-style: italic;
	
	font-size: 2.9rem;
	line-height: 3.1rem;
}
/*
 * media queries ...
 * */
/* Larger than mobile screen */
@media (min-width: 40.0rem) {
	section p,
	section div div{
		font-family: 'MairyExtBd';
		font-style: italic;
	
		font-size: 2.9rem;
		line-height: 3.1rem;
	}
	section#contact h1{
		font-size: 6rem;
	}
}
/* Larger than tablet screen */
@media (min-width: 80.0rem) {
	section p,
	section div div{
		font-family: 'MairyExtBd';
		font-style: italic;
	
		font-size: 4.5rem;
		line-height: 4.7rem;
	}
}
/* Larger than desktop screen */
@media (min-width: 120.0rem) {

}