/*
 * Sections
 * */
section#home{
	display: block;
	width: 100vw; height: 100vh;
}
video#background{
	width: 100vw; height: 100vh;
	position: absolute;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;

	z-index: -999;
	object-fit: none;
}
div#fallback{
	width: 100vw; height: 100vh;
	position: absolute;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;

	background-image: url('../img/rgba.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: none;
	z-index: 19;
}
div#mask{
	width: 100vw; height: 100vh;
	position: absolute;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;

	background-image: url('../img/PURR-cutout.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 20;
}

section#about{
	background-color: var( --purr-red );
	width: 100vw;
	height: 100vh;

 	display: flex;
 	align-items: center;
 	justify-content: center;

	color: var( --purr-white );
}
section#about p{
	width: 66%;

	justify-content: center;

	font-family: 'MairyExtBd';
	font-style: italic;
	font-size: calc(1.6rem + 5vh);
	line-height: calc(1.6rem + 5vh);
}
section#about a,
section#about a:link,
section#about a:visited{
	color: var(--purr-red-dark);
	text-decoration: none;
}
section#about a:hover,
section#about a:active{
	text-decoration: underline;
	text-decoration-skip: ink;
}
.label.about:after{
  	color: var( --purr-white );
	background-color: var( --purr-red-dark );;
}

section#contact{
	background-color: var( --purr-turquoise );
	width: 100vw;
	height: 100vh;

 	display: flex;
 	align-items: center;
 	justify-content: center;
	flex-direction: column;
	
	color: var( --purr-gray );
}
section#contact p,
section#contact div div{
	width: 66%;

	justify-content: center;

	font-family: 'MairyExtBd';
	font-style: italic;
	font-size: calc(1.6rem + 5vh);
	line-height: calc(1.6rem + 5vh);
}
section#contact div{
	width: 66%;
}
section#contact div div{
	width: 50%;
	float: left;

	font-size: calc(1.6rem + 3vh);
	line-height: calc(1.6rem + 3vh);
}

section#contact a,
section#contact a:link,
section#contact a:visited{
	color: var(--purr-turquoise-dark);
	text-decoration: none;
}
section#contact a:hover,
section#contact a:active{
	text-decoration: underline;
	text-decoration-skip: ink;
}









section#imprint{
	background-color: var( --purr-blue );
	width: 100vw;
	height: 100vh;

 	display: flex;
 	align-items: center;
 	justify-content: center;

	color: var( --purr-white );
}
section#imprint div{
	width: 66%;

	justify-content: center;

	font-family: 'MairyExtBd';
	font-style: italic;
	font-size: calc(1.6rem + 5vh);
	line-height: calc(1.6rem + 5vh);
}

section#imprint div div{
	width: 50%;
	float: left;
}

section#imprint a,
section#imprint a:link,
section#imprint a:visited{
	color: var(--purr-blue-dark);
	text-decoration: none;
}
section#imprint a:hover,
section#imprint a:active{
	text-decoration: underline;
	text-decoration-skip: ink;
}



