::selection {
	background-color: #50E3C2;
	color: #eeeeee;
}

body{
	margin: 0; padding:0;
	height: 100vh;
	width: 100vw;
	background-color: #4a4a4a;

	font-family: "MairyLight";
}

video#background{
	width: 100vw; height: 100vh;
	position: absolute;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;
	object-fit: none;
}
div#fallback{
	width: 100vw; height: 100vh;
	position: absolute;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;

	background-image: url('../img/rgba.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: none;
}

div#cutout{
	width: 100vw; height: 100vh;
	position: absolute;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;

	background-image: url('../img/PURR-cutout.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

footer{
	position: absolute;
	bottom: 10px;
	left: 20px; right: 20px;

	text-align: right;
	font-family: MairyLight;
	color: #eee;
	margin-left: 20px;
	margin-right: 20px;
}

h1{
	width: 400px;
	font-size: 6rem;
	font-weight: bold;
	color: #eee;
}


@media (max-width:690px) {
	/* smartphones, Android phones, landscape iPhone */
	video{
		display: none;
	}
	div#fallback{
		display: block;
	}
}
