/* Webfont: Mairy-ExtraBoldItalic */@font-face {
    font-family: 'MairyExtBd';
    src: url('Mairy-ExtraBoldItalic.eot'); /* IE9 Compat Modes */
    src: url('Mairy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Mairy-ExtraBoldItalic.woff') format('woff'), /* Modern Browsers */
         url('Mairy-ExtraBoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Mairy-ExtraBoldItalic.svg#Mairy-ExtraBoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

