
    <section id="team">

        <div id="container">
            <div onclick="PURR.team.rotate();">
                <h1>
                    <%= team.toby.name %> <br/>
                    <small><%= team.toby.title %></small>
                </h1>
                <p>
			        <%= team.toby.bio %>
                </p>
            </div>
            <div onclick="PURR.team.rotate();">
                <h1>
                    <%= team.alex.name %><br/>
                    <small><%= team.alex.title %></small>
                </h1>
                <p>
			        <%= team.alex.bio %>
                </p>
            </div>
        </div>

    </section>
