/* Webfont: Mairy-Regular */@font-face {
    font-family: 'Mairy';
    src: url('Mairy-Regular.eot'); /* IE9 Compat Modes */
    src: url('Mairy-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Mairy-Regular.woff') format('woff'), /* Modern Browsers */
         url('Mairy-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Mairy-Regular.svg#Mairy-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

